@charset "UTF-8";
body {
   font-family: Arial, 'Trebuchet MS';
}

header {
   background-color: #f8f9fa;
   padding: 20px;
   text-align: center;
}

section {
   margin: 20px 0;
}

h1, h2 {
   color: #6c757d;
}

 h3{
   padding-left: 5%;
}
p {
   color: #495057;
   
}
ul{
   padding-left: 10%;
}
/* Add a black background color to the top navigation */
.topnav {
   background-color: #333;
   overflow: hidden;
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
/* Change the color of links on hover */
.topnav a:hover {
   background-color: #293f86;
   color: black;
 }
 
 /* Add a color to the active/current link */
 .topnav a.active {
   background-color: #0412aa;
   color: white;
 } 