@charset "UTF-8"; 
body {
   font-family: 'Helvetica', sans-serif;
   background-color: #3057E1;
   
}

header {
   
   padding: 20px;
   text-align: center;
}

section {
   margin: 20px 0;
}

h1, h2, h3, ul, p {  
   font-family: 'Helvetica', sans-serif;
   text-align: left;
   color: #CED8F7;
}
h1{
   font-size: 90pt;
}

 h3{
   padding-left: 5%;
}

ul{
   padding-left: 10%;
}
/* Add a black background color to the top navigation */
.topnav {
   background-color: #4A6DE5;
   overflow: hidden;
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
/* Change the color of links on hover */
.topnav a:hover {
   background-color: #293f86;
   color: black;
 }
 
 /* Add a color to the active/current link */
 .topnav a.active {
   background-color: #0412aa;
   color: white;
 } 