@charset "UTF-8"; 
body {
   font-family: 'Helvetica', sans-serif;
   /* background-color: #3057E1; */
   background-image: radial-gradient(circle, #6b8eff,#3057E1);
   border: 2px solid #ffffff;
}

header {
   /* padding: 20px; */
   text-align: center;
}

a{
   text-decoration: none; /* Remove underline */
   color: inherit; /* Inherit text color from the parent */
   cursor: default; /* Remove the default link cursor */
   display: inline-block;
}

section {
   margin: 20px 0;
}

h1, h2, h3, ul, p {  
   font-family: 'Helvetica', sans-serif;
   text-align: left;
   color: #FFFFFF;
}

p{
   text-align: center;
}
h1{
   font-size: 90pt;
   border:2px solid #FFFFFF;

}

 h3{
   padding-left: 5%;
}

ul{
   padding-left: 10%;
}
/* Add a black background color to the top navigation */
.topnav {
   overflow: hidden;
   border-radius: 2px;

 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   color: #FFFFFF;
   text-align: center;
   padding: 12px 14px;
   text-decoration: none;
   font-size: 17px;
 }
/* Change the color of links on hover */
.topnav a:hover {
   background-image: linear-gradient(to top, #1729f0,#4A6DE5 20%);
   color: #FFFFFF;
 }
 table {
   border-collapse: collapse;
 }
 table, th, td {
   border: 2px solid;
   align-self: left;
   color: #FFFFFF;
   text-align: left;
   vertical-align: top;
   font-size: 8pt;
 }

 body {
   position: relative;
  
}

body::before {
   content: '';
   position: absolute;
   top: 50;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none; /* Allows clicks to go through the pseudo-element */
   background-image: repeating-linear-gradient(90deg, transparent, transparent 30px, #d5d5d54a 30px, #d5d5d54a 31px),
   repeating-linear-gradient(0deg, transparent, transparent 30px, #d5d5d54a 30px, #d5d5d54a 31px);

}

.carousel{
   width: 800px;
   height: 480px;
   margin:auto;
}


.carousel-inner{
   width: 800px;
   height: 480px;
}
